

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-brand {
	padding-top: 3px;
}

.navbar-brand img {
	height: 45px;
}

.jumbotron {
    color: white;
    text-shadow: black 0.4em 0.4em 0.4em;
    background-color: white;
}

.jumbotron img {
	position: relative;
}

.jumbotron h1 {
	position: absolute;
	top: 50px;
	
}



@media screen and (max-width: 995px) {
    .jumbotron h1 {
    	width: 500px;
    	left: 150px;
    }
}

@media screen and (max-width: 700px) {
    .jumbotron h1 {
    	
    	left: 75px;
    }
}

@media screen and (max-width: 550px) {
    .jumbotron h1 {
    	width: 350px;
    	left: 50px;
    }
}